
@import "main.scss";

@font-face {
  font-family: san-francisco-text;
  src:         url("/fonts/SF/SFText-Regular.otf");
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: san-francisco-text;
  src:         url("/fonts/SF/SFText-Bold.otf");
  font-weight: bold;
  font-style:  normal;
}
@font-face {
  font-family: san-francisco-display;
  src:         url("/fonts/SF/SFDisplay-Regular.otf");
  font-weight: normal;
  font-style:  normal;
}
@font-face {
  font-family: san-francisco-display;
  src:         url("/fonts/SF/SFDisplay-Bold.otf");
  font-weight: bold;
  font-style:  normal;
}
@font-face {
  font-family: san-francisco-display;
  src:         url("/fonts/SF/SFDisplay-Ultralight.otf");
  font-weight: 100;
  font-style:  normal;
}
@font-face {
  font-family: san-francisco-display;
  src:         url("/fonts/SF/SFDisplay-Light.otf");
  font-weight: 200;
  font-style:  normal;
}