
@import "main.scss";

.login-touch-id-ask{

}

.info-screen{
  background-color: $light-background-color;


}

.info-screen .body{
  margin-top: $status-bar-height;

  text-align: center;

  color: #353535;
}
.info-screen .body .header{
  font-family: san-francisco-display;
  font-size: $width/15;

  margin-top:    $height/10;
  margin-bottom: $height/30;

  font-weight: 300;
}

.apple-touch-id{
  width: $width/2.5;
  height:$width/2.5;

}


.info-screen .body .sub-header{
  margin-top: $height/30;

  font-weight: 500;
  font-size: $width/25;

  padding-right: $width * 0.2;
  padding-left: $width * 0.2;

}
.info-screen .body .info{
  font-size: $width/27;

  margin-top: $height/25;

  padding-right: $width * 0.1;
  padding-left: $width * 0.1;

  color: #565656;
}