

@import "functions.scss";

$iPhone7-width:  1080;
$iPhone7-height: 1920;

$width:  $iPhone7-width;
$height: $iPhone7-height;
$debug-border-width: 0px;
$login-padding: $width/30;
$status-bar-height: 40px;

$top-nav-height:    $height/16.7;
$top-nav-total-height: $status-bar-height + $top-nav-height;

$login-text-color:            #626262;
$light-border-color:          #b7b7b7;
$footer-background-color:     #f9f9f9;
$light-background-color:      #e0e0e0;

//$brand-primary-color:         #a71119;
$brand-primary-color:         #b20008;
$brand-medium-accent:         #7c1119;
$brand-dark-accent:           #4c1013;
$brand-almost-black-accent:   #210506;
$light-text-color:            #9b9b9b;

$green-good:                  #008a24;

$accent-text-size-small: $width/31;

$footer-tab-highlight-color: $brand-medium-accent;

$top-body-spacer: $height/19.5;

$main-option-font-size: $width/22;
$secondary-option-font-font-size: $main-option-font-size * .8;
$secondary-option-color: #4b4b4b;

$check-option-height: $height/10;
$configure-transfer-or-payment-options-height: $check-option-height;
$option-font-size: $width/22;


$golden-ratio: 1.61803398875;
$font-ratio: 0.85;

$start-font: $width/10;
$font-size-1:  $start-font;
$font-size-2:  $start-font * $font-ratio;
$font-size-3:  $start-font * pow($font-ratio, 2);
$font-size-4:  $start-font * pow($font-ratio, 3);
$font-size-5:  $start-font * pow($font-ratio, 4);
$font-size-6:  $start-font * pow($font-ratio, 5);
$font-size-7:  $start-font * pow($font-ratio, 6);
$font-size-8:  $start-font * pow($font-ratio, 7);
$font-size-9:  $start-font * pow($font-ratio, 8);
$font-size-10: $start-font * pow($font-ratio, 9);
$font-size-11: $start-font * pow($font-ratio, 10);

div{
  box-sizing: border-box;

}
a{
  text-decoration: none;
}


.iphone{
  margin: 50px;


  width:  $width;
  height: $height;
  max-width: $width;
  max-height: $height;
  overflow: hidden;

  box-shadow: 0px 0px 75px black;

  position: relative;

  font-family: san-francisco-text;

}

.iPhoneLandscape{
  margin: 50px;


  width:  $height;
  height: $width;
  max-width: $height;
  max-height: $width;
  overflow: hidden;

  box-shadow: 0px 0px 75px black;

  position: relative;

  font-family: san-francisco-text;
}






























