

$iPhone7-width:  1080;
$iPhone7-height: 1920;

$width:  $iPhone7-width;
$height: $iPhone7-height;
$debug-border-width: 0px;
$login-padding: $width/30;
$status-bar-height: 40px;

$top-nav-height:    $height/16.7;
$top-nav-total-height: $status-bar-height + $top-nav-height;

$login-text-color:            #626262;
$light-border-color:          #b7b7b7;
$footer-background-color:     #f9f9f9;
$light-background-color:      #e0e0e0;

$brand-primary-color:         #a71119;
$brand-medium-accent:         #7c1119;
$brand-dark-accent:           #4c1013;
$brand-almost-black-accent:   #210506;
$light-text-color:            #9b9b9b;

$green-good:                  #008a24;

$accent-text-size-small: $width/31;

$footer-tab-highlight-color: $brand-medium-accent;

$top-body-spacer: $height/19.5;

$main-option-font-size: $width/22;
$secondary-option-font-font-size: $main-option-font-size * .8;
$secondary-option-color: #4b4b4b;

$check-option-height: $height/10;
$configure-transfer-or-payment-options-height: $check-option-height;
$option-font-size: $width/22;

div{
  box-sizing: border-box;
}


.iphone{
  margin: 50px;


  width:  $width;
  height: $height;
  max-width: $width;
  max-height: $height;
  overflow: hidden;

  box-shadow: 0px 0px 75px black;

  position: relative;

  font-family: san-francisco-text;

}

.iPhoneLandscape{
  margin: 50px;


  width:  $height;
  height: $width;
  max-width: $height;
  max-height: $width;
  overflow: hidden;

  box-shadow: 0px 0px 75px black;

  position: relative;

  font-family: san-francisco-text;
}

.status-bar{
  position: absolute;
  top: 0;
  width: $width;
  height: $status-bar-height;
  z-index: 100;

  background-color: transparent;

  padding:5px;

  text-align: center;
  align-content: center;
}
.status-bar > div{
  width: 32%;
}
.status-bar > div:nth-child(1n){
  //background-color: red;
  float: left;
  display: inline-block;
  padding-left:10px;
}
.status-bar > div:nth-child(2n){
  //background-color: blue;
  display: inline-block;
  text-align: center;
  align-content: center;

}
.status-bar > div:nth-child(3n){
  float: right;
  display: inline-block;
  text-align: right;
  padding-right:20px;
  margin-left:-20px;

}

$footer-height: $height/15;
.footer{
  position: absolute;


  top:    $height - $footer-height;
  height: $footer-height;

  //background-color: red;

  border-style: solid;
  border-width: 5px 0px 0px 0px;
}

.login .footer > div{
  width: $width/3.3;
  font-size: $width/27;
}

.page-type1        .status-bar,
.account-detail    .status-bar,
.accounts-overview .status-bar{
  color: $light-text-color;
}

.login .footer{
  width: $width - $login-padding*2;
  left:   $login-padding;
  opacity: .5;
  border-color: $login-text-color;
  padding-top:$width/50;
}

.page-type1        .footer,
.account-detail    .footer,
.accounts-overview .footer{
  opacity: 1;
  width: $width;
  left: 0px;

  border-color: #b0b0b0;
  background-color: $footer-background-color;

  display: flex;

  padding-top: 0;
}

.page-type1        .footer > div,
.account-detail    .footer > div,
.accounts-overview .footer > div{
  text-align: center;
  font-size: $footer-height / 4.5;
  padding-top: $footer-height / 15;
  margin-top: 0;

  color: #888888;
  //padding-bottom: $footer-height / 50;
}

























